html, body, #app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

* {
  box-sizing: border-box;
}

svg, button, a {
  cursor: pointer;
}

svg {
  margin: 0.5rem;
  color: black;
}

.router-view__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.action-button {
  padding: 0.7rem;
  border: none;
  font-size: $primary-font-size;
  border-radius: 99em;
  color: white;
  background-color: $action-button-background;
}

button:disabled {
  background-color: $disabled-button-color;
}

input, textarea {
  border: 0px;
  font-size: $primary-font-size;
  border-bottom: 2px solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

textarea {
  font-size: $primary-font-size;
  resize: vertical;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

#highlight_menu {
  position: absolute;
  z-index: 99999;
  background-color: black;
  border-radius: 10px;
  height: 37px;
}

#h-btn {
  padding: 5px;
  cursor: pointer;
  line-height: 1;
}

#h-btn svg {
  margin: 0;
}

#dc {
  width: 0;
  height: 0;
  margin: auto;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

.highlight {
  background-color: rgb(190, 234, 255);
  user-select: none;
}